<h3 class="zone-title zone-title-main">EXPÉRIENCE</h3>

<div>
<h4>Lexing Avocats - <i>dévelopeur .net / angular</i></h4>
<span class="date">janvier 2021 juillet 2025, 4 ans 6 moins</span>

<p>
  <span class="subject">Contexte du projet :</span>
  <span>développement et / ou maintenance des applications internes</span>
</p>

<p>
  <span class="subject">Réalisations :</span>
  </p>
  <ul>
    <li>Développement d'outil de gestion des missions</li>
    <li>Développement d'outils de comptabilité</li>
    <li>Développement d'outil d'anonymisation de texte</li>
    <li>Développement d'outil de gestion des marque client</li>
    <li>Maintenance des outls RGPD</li>
    <li>Maintenace de visualisation de données </li>
  </ul>

<p>
  <span class="subject">Taille de l’équipe :</span>
  <span> quatre personnes, dont deux developpeurs, un directeur des systemes d'information et un technicien informatique </span>
</p>

<p>
  <span class="subject">Environnement technique :</span>
  <span>.net, angular, git, gitea, drone, docker, sql</span>
</p>

</div>

<div>
<h4>Jardiland —  <i>Développeur Magento</i></h4>
<span class="date">septembre 2018, juin 2020 -  2 ans</span>

<p>
  <span class="subject">Contexte du projet :</span>
  <span>développement et maintenance du site e-commerce</span>
</p>

<p>
  <span class="subject">Réalisations :</span>
  </p>
  <ul>
    <li>Refonte du tunnel d’achat</li>
    <li>Mise en place du module de paiement, suivant les spécifications du client</li>
    <li>Refonte graphique</li>
    <li>Intégration du design lors d'événements marketing (exemple : noël)</li>
    <li>Mise en place d’API pour les partenaires de Jardiland</li>
    <li>MVP pour le nouveau module de règles promotionnelles </li>
    <li>Mise en place de règles comptables afin de respecter la norme du client</li>
  </ul>

<p>
  <span class="subject">Taille de l’équipe :</span>
  <span> six personnes, dont un directeur digital et d’innovation, deux chefs de projets et trois développeurs magento</span>
</p>

<p>
  <span class="subject">Environnement technique :</span>
  <span>angular, Magento 2, git, PHP7, capistrano 2, mysql 5.7, knockout js, nginx, docker (uniquement pour les machines locals)</span>
</p>

</div>
